<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
	.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
	.fa-anchor,.fa-coffee {font-size:200px}
	</style>
	
	<title>{% block title %}ImagesClassifier_GUI{% endblock %}</title>
	
	{% block script %}
	
	<script>
	// Used to toggle the menu on small screens when clicking on the menu button
	function menu() {
		var x = document.getElementById("navDemo");
		if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		} else { 
			x.className = x.className.replace(" w3-show", "");
		}
	}
	</script>
	
	{% endblock%}

</head>
<body>

    <!-- Navbar -->
<div class="w3-top">
	<div class="w3-bar w3-grey w3-card-2 w3-left-align w3-large">
{% block navigation %}
	<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large" href="javascript:void(0);" onclick="menu()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	<a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
	<a href="/snaps/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Snaps</a>
	<a href="/labels/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Dataset</a>
	<a href="/model/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Model</a> 
	<a href="/train/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Train</a>
	<a href="/test_model/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Test</a>
	{% comment %}
	<a href="{% url 'profile' user %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
	{% endcomment %}	
	<a href="/login/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">LogIn</a>
	<a href="/logout/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">LogOut</a>	
	<a href="/signup/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">SignUp</a>
	{% endblock %}
	</div>
    <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="/snaps/" class="w3-bar-item w3-button w3-padding-large">Snaps</a>
	<a href="/labels/" class="w3-bar-item w3-button w3-padding-large">Dataset</a>
    <a href="/model/" class="w3-bar-item w3-button w3-padding-large">Model</a>
	<a href="/train/" class="w3-bar-item w3-button w3-padding-large">Train</a>
    <a href="/test_model/" class="w3-bar-item w3-button w3-padding-large">Test</a>	
	{% comment %}
    <a href="{% url 'profile' user %}" class="w3-bar-item w3-button w3-padding-large">Profile</a>
	{% endcomment %}	
	<a href="/login/" class="w3-bar-item w3-button w3-padding-large">LogIn</a>
    <a href="/logout/" class="w3-bar-item w3-button w3-padding-large">LogOut</a>
	<a href="/signup/" class="w3-bar-item w3-button w3-padding-large">SignUp</a>

  </div>
</div>

<br>
<br>

  	<!-- Header -->
	<header class="w3-container w3-center" style="padding:15px 16px">
	</header>

	{% block content %}{% endblock %}
   
	<br><br>

</body>
</html>
