{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style_home.css' %}" />

		<!-- Scripts -->
			<script src="{% static 'scripts/jquery.min.js' %}"></script>
			<script src="{% static 'scripts/jquery.scrolly.js' %}"></script>
			<script src="{% static 'scripts/skel.min.js' %}"></script>
			<script src="{% static 'scripts/utils.js' %}"></script>
			<script src="{% static 'scripts/main.js' %}"></script>


		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<img src="{% static 'img/train_big.png' %}" alt="logo"></img><br />
							<h2>IC_GUI</h2>
							<p>crafted by <a href="http://eparisot.com">Eric PARISOT</a>.</p>
							<br />
							<header class="major">
								<h3>Build an Images Classifier,</h3>
								<p>without any line of code, <br />
								from any device.</p>
							</header>
						</div>
					</section>


				<!-- Three -->
					<section id="three" class="wrapper style2 special">
						<div class="inner">
							<ul class="features">
								<li class="icon fa-camera">
									<h3>Take pictures</h3>
									<p>from your webcam.</p>
								</li>
								<li class="icon fa-tags">
									<h3>Labelize images</h3>
									<p>with a simple keyboard hint.</p>
								</li>
								<li class="icon fa-crop">
									<h3>Crop images</h3>
									<p>to fit with your model input.</p>
								</li>
								<li class="icon fa-flask">
									<h3>Design a model</h3>
									<p>by dragging and dropping layers in your model.</p>
								</li>
								<li class="icon fa-graduation-cap">
									<h3>Train your model</h3>
									<p>with your own settings.</p>
								</li>
								<li class="icon fa-check-square-o">
									<h3>Test your model</h3>
									<p>from your webcam's images.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><h4>Mail author :</h4><a href="mailto:eparisot@student.42.fr" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>

{% endblock %}
