{% extends 'base.html' %}

{% block title %}Model{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_model.css' %}" />
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<div id="content_div">
	<div id="model_div" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	<br>
	<p>Drag layers in your model:</p>
	<div id="tools_div">
		<div id="layers_div">
			<img id="in" class="in" src="{% static 'img/in_layer.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="dense" class="dense" src="{% static 'img/dense.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="conv2d" class="conv2d" src="{% static 'img/conv2d.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="flatten" class="flatten" src="{% static 'img/flatten.png' %}" draggable="true" ondragstart="drag(event)">
			<img id="max_pool" class="max_pool" src="{% static 'img/max_pool.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="dropout" class="dropout" src="{% static 'img/dropout.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="sig" class="sig" src="{% static 'img/sig_activation.png' %}" draggable="true" ondragstart="drag(event)">
			<img id="softmax" class="softmax" src="{% static 'img/softmax_activation.png' %}" draggable="true" ondragstart="drag(event)">
			<img id="relu" class="relu" src="{% static 'img/relu_activation.png' %}" draggable="true" ondragstart="drag(event)">
		</div>
		<div id="trash_div">
			<img id="trash" src="{% static 'img/trash.png' %}" ondrop="trash(event)" ondragover="allowDrop(event)">
		</div>
		<div id="commands_div">
			<button id="import_but" onclick="import_model()"><img src="{% static 'img/import.png' %}" alt="import"></img></button>
			<button id="export_but" onclick="export_model()"><img src="{% static 'img/export.png' %}" alt="export"></img></button>
			
		</div>
	</div>
</div>

<script>

//Set Sizes
var H = window.innerHeight / 2;
var W = window.innerWidth;

document.getElementById("model_div").style.width = W.toString()+'px';
document.getElementById("model_div").style.height = H.toString()+'px';
document.getElementById("layers_div").style.width = (W/2).toString()+'px';
document.getElementById("tools_div").style.width = (W).toString()+'px';

function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
	var elem = document.getElementById(data).cloneNode(true);
    ev.target.appendChild(elem);
	if (ev.target.id == "model_div")
	{
		set_layer(ev, elem.id);
	}
}

function trash(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
	var elem = document.getElementById(data);
	if (elem.parentNode == document.getElementById("model_div"))
	{
		elem.parentNode.removeChild(elem);
	}
}

function set_layer(ev, _class)
{
	if (ev.target.id == "model_div" || ev.target.parentNode.id == "model_div")
	{
		if (_class == "in" || _class == "dense" || _class == "conv2d" || _class == "dropout" || _class == "max_pool")
		{
			newWindow = window.open("set_layer", "", "height=400,width=400,status=yes,toolbar=no,menubar=no,location=no");
		}
		var layer_id;
		if (ev.target.id == "model_div")
		{
			var count = document.getElementById('model_div').children.length - 1;
			var layer = document.querySelector("#model_div #" + _class)
			layer.id = _class + '_' + count.toString();
			layer_id = layer.id;
		}
		else
		{
			layer_id = ev.target.id;
		}

		if (_class == "in")
		{
			var layer = document.getElementById(layer_id);
			newWindow.document.write("<form><p>height dimension :</p><input type='text' id='dim_1' value='" + layer.getAttribute("data-dim_1") + "' autofocus></input><p>width dimension :</p><input type='text' id='dim_2'value='" + layer.getAttribute("data-dim_2") + "'></input><p>channels dimension :</p><input type='text' id='dim_3'value='" + layer.getAttribute("data-dim_3") + "'></input><br><br><button onclick='save_layer(event)'>Save</button></form>");
			var script = newWindow.document.createElement("script");
			script.innerHTML = "function save_layer(ev){window.close();}";
			newWindow.document.body.appendChild(script);
			newWindow.onunload = function(){
										var layer = document.getElementById(layer_id);
										
										var att = document.createAttribute("data-dim_1");
										att.value = newWindow.document.getElementById('dim_1').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-dim_2");
										att.value = newWindow.document.getElementById('dim_2').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-dim_3");
										att.value = newWindow.document.getElementById('dim_3').value;
										layer.setAttributeNode(att);
									};
		}
		else if (_class == "dense")
		{
			var layer = document.getElementById(layer_id);
			newWindow.document.write("<form><p>neurons :</p><input type='text' id='neurons' value='" + layer.getAttribute("data-neurons") + "' autofocus></input><br><br><button onclick='save_layer(event)'>Save</button></form>");
			var script = newWindow.document.createElement("script");
			script.innerHTML = "function save_layer(ev){window.close();}";
			newWindow.document.body.appendChild(script);
			newWindow.onunload = function(){
										var layer = document.getElementById(layer_id);
										
										var att = document.createAttribute("data-neurons");
										att.value = newWindow.document.getElementById('neurons').value;
										layer.setAttributeNode(att);
									};
		}
		else if (_class == "conv2d")
		{
			var layer = document.getElementById(layer_id);
			newWindow.document.write("<form><p>filters:</p><input type='text' id='filters' value='" + layer.getAttribute("data-filters") + "' autofocus></input><div style='display:flex;justify-content:space-between;'><div><p>kernel w:</p><input type='text' id='kernel_w' value='" + layer.getAttribute("data-kernel_w") + "'></input></div><div><p>kernel h:</p><input type='text' id='kernel_h' value='" + layer.getAttribute("data-kernel_h") + "'></input></div></div><div style='display:flex;justify-content:space-between;'><div><p>stride x:</p><input type='text' id='stride_x' value='" + layer.getAttribute("data-stride_x") + "'></input></div><div><p>stride y:</p><input type='text' id='stride_y' value='" + layer.getAttribute("data-stride_y") + "'></input></div></div><p>padding:</p><input type='checkbox' id='padding' " + layer.getAttribute("data-padding") + "></input><br><br><button onclick='save_layer(event)'>Save</button></form>");
			var script = newWindow.document.createElement("script");
			script.innerHTML = "function save_layer(ev){window.close();}";
			newWindow.document.body.appendChild(script);
			newWindow.onunload = function(){
										var layer = document.getElementById(layer_id);

										var att = document.createAttribute("data-filters");
										att.value = newWindow.document.getElementById('filters').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-kernel_w");
										att.value = newWindow.document.getElementById('kernel_w').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-kernel_h");
										att.value = newWindow.document.getElementById('kernel_h').value;
										layer.setAttributeNode(att);
		
										att = document.createAttribute("data-stride_x");
										att.value = newWindow.document.getElementById('stride_x').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-stride_y");
										att.value = newWindow.document.getElementById('stride_y').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-padding");
										if (newWindow.document.getElementById('padding').checked == true)
										{
											att.value = 'checked';
										}
										else
										{
											att.value = '';
										}
										layer.setAttributeNode(att);
									};	
		}
		else if (_class == "dropout")
		{
			var layer = document.getElementById(layer_id);
			newWindow.document.write("<form><p>ratio :</p><input type='text' id='ratio' value='" + layer.getAttribute("data-ratio") + "' autofocus></input><br><br><button onclick='save_layer(event)'>Save</button></form>");
			var script = newWindow.document.createElement("script");
			script.innerHTML = "function save_layer(ev){window.close();}";
			newWindow.document.body.appendChild(script);
			newWindow.onunload = function(){
										var layer = document.getElementById(layer_id);
										
										var att = document.createAttribute("data-ratio");
										att.value = newWindow.document.getElementById('ratio').value;
										layer.setAttributeNode(att);
									};
		}
		else if (_class == "max_pool")
		{
			var layer = document.getElementById(layer_id);
			newWindow.document.write("<form><div style='display:flex;justify-content:space-between;'><div><p>pool w:</p><input type='text' id='pool_w' value='" + layer.getAttribute("data-pool_w") + "' autofocus></input></div><div><p>pool h:</p><input type='text' id='pool_h' value='" + layer.getAttribute("data-pool_h") + "'></input></div></div><div style='display:flex;justify-content:space-between;'><div><p>stride x:</p><input type='text' id='stride_x' value='" + layer.getAttribute("data-stride_x") + "'></input></div><div><p>stride y:</p><input type='text' id='stride_y' value='" + layer.getAttribute("data-stride_y") + "'></input></div></div><p>padding:</p><input type='checkbox' id='padding' " + layer.getAttribute("data-padding") + "></input><br><br><button onclick='save_layer(event)'>Save</button></form>");
			var script = newWindow.document.createElement("script");
			script.innerHTML = "function save_layer(ev){window.close();}";
			newWindow.document.body.appendChild(script);
			newWindow.onunload = function(){
										var layer = document.getElementById(layer_id);
									
										var att = document.createAttribute("data-pool_w");
										att.value = newWindow.document.getElementById('pool_w').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-pool_h");
										att.value = newWindow.document.getElementById('pool_h').value;
										layer.setAttributeNode(att);
		
										att = document.createAttribute("data-stride_x");
										att.value = newWindow.document.getElementById('stride_x').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-stride_y");
										att.value = newWindow.document.getElementById('stride_y').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("data-padding");
										if (newWindow.document.getElementById('padding').checked == true)
										{
											att.value = 'checked';
										}
										else
										{
											att.value = '';
										}
										layer.setAttributeNode(att);
									};
		}
	}
}

function import_model()
{
	post_to_url('import');
}
	
function export_model()
{
	var elem_list = document.getElementById('model_div').children;
	var dict = {};
	var i;
	for (i=0;i<elem_list.length;i++)
	{
		var elem = elem_list[i];
		dict[elem.id] = elem.dataset;
	}
	//dict["type"] = document.getElementById("type").value;
	//dict["optimizer"] = document.getElementById("optimizer").value;
	dict = JSON.stringify(dict);
	post_to_url('export/' + dict);
}


var w = null;
function post_to_url(url) 
{
	if (w)
	{
		w.close();
	}
	w = window.open(url,'Popup_Window','toolbar=1,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=400,height=300,left = 312,top = 234');

	method = 'POST';
	var form = w.document.createElement('form');
	form.setAttribute('method', method);
	form.setAttribute('action', url);
	form.setAttribute('target', 'Popup_Window');
	
	var input = w.document.createElement('input');
	input.type = 'hidden';
	input.name = 'csrfmiddlewaretoken'
	input.value = "{{ csrf_token }}";
	form.appendChild(input);
	w.document.body.appendChild(form);
	
	form.submit();
}

function closeIt()
{
	var count = document.querySelectorAll('#model_div img').length;
	if (count > 0)
	{
		return "Any string value here forces a dialog box to \n" + 
		"appear before closing the window.";
	}
	else
	{
		return
	}
}
window.onbeforeunload = closeIt;
</script>

{% endblock %}