{% extends 'base.html' %}

{% block title %}Model{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_model.css' %}" />

<div id="content_div">
	<div id="model_div" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	<br>
	<p>Drag layers in your model:</p>
	<div id="tools_div">
		<div id="settings_div">
			
		</div>
		<div id="layers_div">
			<img id="in" class="in" src="{% static 'img/in_layer.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="dense" class="dense" src="{% static 'img/dense.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="conv2d" class="conv2d" src="{% static 'img/conv2d.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="flatten" class="flatten" src="{% static 'img/flatten.png' %}" draggable="true" ondragstart="drag(event)">
			<img id="max_pool" class="max_pool" src="{% static 'img/max_pool.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="dropout" class="dropout" src="{% static 'img/dropout.png' %}" draggable="true" ondragstart="drag(event)" onclick="set_layer(event, this.className)">
			<img id="sig" class="sig" src="{% static 'img/sig_activation.png' %}" draggable="true" ondragstart="drag(event)">
			<img id="softmax" class="softmax" src="{% static 'img/softmax_activation.png' %}" draggable="true" ondragstart="drag(event)">
			<img id="relu" class="relu" src="{% static 'img/relu_activation.png' %}" draggable="true" ondragstart="drag(event)">
		</div>
		<div id="trash_div">
			<img id="trash" src="{% static 'img/trash.png' %}" ondrop="trash(event)" ondragover="allowDrop(event)">
		</div>
	</div>
</div>

<script>

//Set Sizes
var H = window.screen.height / 2;
var W = window.screen.width;

document.getElementById("model_div").style.width = W.toString()+'px';
document.getElementById("model_div").style.height = H.toString()+'px';
document.getElementById("layers_div").style.width = (W/2).toString()+'px';
document.getElementById("tools_div").style.width = (W).toString()+'px';

function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
	var elem = document.getElementById(data).cloneNode(true);
    ev.target.appendChild(elem);
	if (ev.target.id == "model_div" && (elem.id == "in" || elem.id == "dense" || elem.id == "conv2d" || elem.id == "dropout" || elem.id == "max_pool"))
	{
		set_layer(ev, elem.id);
	}
}

function trash(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
	var elem = document.getElementById(data);
	if (elem.parentNode == document.getElementById("model_div"))
	{
		elem.parentNode.removeChild(elem);
	}
}

function set_layer(ev, _class)
{
	if (ev.target.id == "model_div" || ev.target.parentNode.id == "model_div")
	{
		newWindow = window.open("set_layer", "", "height=300,width=400,status=yes,toolbar=no,menubar=no,location=no");
		
		var layer_id;
		if (ev.target.id == "model_div")
		{
			var count = document.getElementById('model_div').children.length - 1;
			var layer = document.querySelector("#model_div #" + _class)
			layer.id = _class + '_' + count.toString();
			layer_id = layer.id;
		}
		else
		{
			layer_id = ev.target.id;
		}

		if (_class == "in")
		{
			var layer = document.getElementById(layer_id);
			newWindow.document.write("<form><p>width dimension :</p><input type='text' id='dim_1' value='" + layer.getAttribute("dim_1") + "'></input><p>height dimension :</p><input type='text' id='dim_2'value='" + layer.getAttribute("dim_2") + "'></input><p>channels dimension :</p><input type='text' id='dim_3'value='" + layer.getAttribute("dim_3") + "'></input><br><br><button onclick='save_layer(event)'>Save</button></form>");
			var script = newWindow.document.createElement("script");
			script.innerHTML = "function save_layer(ev){window.close();}";
			newWindow.document.body.appendChild(script);
			newWindow.onunload = function(){
										var layer = document.getElementById(layer_id);
										
										var att = document.createAttribute("dim_1");
										att.value = newWindow.document.getElementById('dim_1').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("dim_2");
										att.value = newWindow.document.getElementById('dim_2').value;
										layer.setAttributeNode(att);
										
										att = document.createAttribute("dim_3");
										att.value = newWindow.document.getElementById('dim_3').value;
										layer.setAttributeNode(att);
									};
		}
		else if (_class == "dense")
		{
			var layer = document.getElementById(layer_id);
			newWindow.document.write("<form><p>neurons :</p><input type='text' id='neurons' value='" + layer.getAttribute("neurons") + "'></input><br><br><button onclick='save_layer(event)'>Save</button></form>");
			var script = newWindow.document.createElement("script");
			script.innerHTML = "function save_layer(ev){window.close();}";
			newWindow.document.body.appendChild(script);
			newWindow.onunload = function(){
										var layer = document.getElementById(layer_id);
										
										var att = document.createAttribute("neurons");
										att.value = newWindow.document.getElementById('neurons').value;
										layer.setAttributeNode(att);
									};
		}
		else if (_class == "conv2d")
		{
			
		}
		else if (_class == "dropout")
		{
		
		}
		else if (_class == "max_pool")
		{
		
		}
	}

}
</script>

{% endblock %}