<!DOCTYPE html>
<html>
<head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_model.css' %}" />

</head>
<body>

{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.ui.widget.js' %}"></script>
<script src="{% static 'scripts/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'scripts/jquery.fileupload.js' %}"></script>
<script src="{% static 'scripts/upload_model.js' %}"></script>


{# BUTTON TO TRIGGER THE ACTION #}
<button type="button" class="btn btn-primary js-upload-photos" style="margin: 10px 10px 10px 10px;">
	<span class="glyphicon glyphicon-cloud-upload"></span> Upload model file
</button>

<div id="content_div">	
	<div id="gallery">
		{# FILE INPUT TO BE USED BY THE PLUG-IN #}
		<input id="fileupload" type="file" name="file" multiple
			   style="display: none;"
			   data-url="{% url 'import' %}"
			   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

		{# DISPLAY THE UPLOADED FILE #}
			{% for model in models %}
				<a onclick="load_data('{{ model.id }}')">{{ model.file.name }}</a><br>
			{% endfor %}
	</div>
</div>
<script>
function load_data(id)
{
	id = id.toString();
	post_to_url('/train/?model=' + id);
}

function post_to_url(url) 
{
	w = window.opener
	method = 'POST';
	var form = w.document.createElement('form');
	form.setAttribute('method', method);
	form.setAttribute('action', url);
		
	var input = w.document.createElement('input');
	input.type = 'hidden';
	input.name = 'csrfmiddlewaretoken'
	input.value = "{{ csrf_token }}";

	form.appendChild(input);
	w.document.body.appendChild(form);
	form.submit();
}

</script>
</body>
</html>