{% extends 'base.html' %}

{% block title %}Train{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_train.css' %}" />

{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'scripts/jquery.min.js' %}"></script>


<div id="content_div">
	<div>
		<table id="table">
			<tr>
				<td></td>
				<th>Dataset</th>
				<th>Model</th>
				<td></td>
			</tr>
			<tr>
				<th>dim_1 : </th>
				<td id="d_dim_1">{{ photos_dim.0 }}</td>
				<td id="m_dim_1">{{ model_infos.1 }}</td>
				<td><img id="state_1"></img></td>
			</tr>
			<tr>
				<th>dim_2 : </th>
				<td id="d_dim_2">{{ photos_dim.1 }}</td>
				<td id="m_dim_2">{{ model_infos.2 }}</td>
				<td><img id="state_2"></img></td>
			</tr>
			<tr>
				<th>dim_3 : </th>
				<td id="d_dim_3">{{ photos_dim.2 }}</td>
				<td id="m_dim_3">{{ model_infos.3 }}</td>
				<td><img id="state_3"></img></td>
			</tr>
			<tr>
				<th>output : </th>
				<td id="d_out">{{ labels_nb }}</td>
				<td id="m_out">{{ model_infos.0 }}</td>
				<td><img id="state_out"></img></td>
			</tr>
			<tr>
				<th>datas : </th>
				<td> {{ photos|length }} </td>
				<td><button id="import_but" onclick="import_model()"><img src="{% static 'img/import.png' %}" alt="import"></img></button></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div id="settings_div">
		<table id="settings_table">
			<tr>
				<th>Type</th>
				<th>Optimizer</th>
				<th>Batch Size</th>
				<th>Epochs</th>
				<th>Validation Split</th>
				<th>Early Stop</th>
				<th>Patience</th>
			</tr>
			<tr>
				<td>
					<select id="type">
						<!--<option value="mlp">MLP</option>-->
						<option value="binary_crossentropy">binary</option>
						<option value="categorical_crossentropy">categorical</option>
					</select>
				</td>
				<td>
					<select id="optimizer">
						<option value="adadelta">adadelta</option>
						<option value="adam">adam</option>
						<option value="nadam">nadam</option>
						<option value="rmsprop">rmsprop</option>
						<option value="sgd">sgd</option>
					</select>
				</td>
				<td>
					<input id="batch_size" type="text" value="1"></input>
				</td>
				<td>
					<input id="epochs" type="text" value="1"></input>
				</td>
				<td>
					<input id="v_split" type="text" value="0.2"></input>
				</td>
				<td>
					<input id="e_stop" type="checkbox"></input>
				</td>
				<td>
					<input id="patience" type="text" value="5"></input>
				</td>
			</tr>
		</table>
		<button onclick="train()"><img src="{% static 'img/train.png' %}"></img></button>
	</div>
</div>
<div id="content_div">
	<textarea id="train-log" cols="100" rows="16"></textarea><br/>


	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	</div>
	
</div>
<script>
function check()
{
	var ret = 1;
	if (document.getElementById("m_dim_1").innerHTML === document.getElementById("d_dim_1").innerHTML && document.getElementById("m_dim_1").innerHTML != "")
	{
		document.getElementById("state_1").src = "{% static 'img/ok.png' %}";
	}
	else
	{
		document.getElementById("state_1").src = "{% static 'img/nok.png' %}";
		ret = 0;
	}
	if (document.getElementById("m_dim_2").innerHTML == document.getElementById("d_dim_2").innerHTML && document.getElementById("m_dim_2").innerHTML != "")
	{
		document.getElementById("state_2").src = "{% static 'img/ok.png' %}";
	}
	else
	{
		document.getElementById("state_2").src = "{% static 'img/nok.png' %}";
		ret = 0;		
	}
	if (document.getElementById("m_dim_3").innerHTML == document.getElementById("d_dim_3").innerHTML && document.getElementById("m_dim_3").innerHTML != "")
	{
		document.getElementById("state_3").src = "{% static 'img/ok.png' %}";
	}
	else
	{
		document.getElementById("state_3").src = "{% static 'img/nok.png' %}";
		ret = 0;
	}
	if (document.getElementById("m_out").innerHTML == document.getElementById("d_out").innerHTML && document.getElementById("m_out").innerHTML != "")
	{
		document.getElementById("state_out").src = "{% static 'img/ok.png' %}";
	}
	else
	{
		document.getElementById("state_out").src = "{% static 'img/nok.png' %}";
		ret = 0;
	}
	if ("{{ model_infos.4 }}" == 0)
	{
		document.getElementById("type").value = "binary_crossentropy"
	}
	else if ("{{ model_infos.4 }}" == 1)
	{
		document.getElementById("type").value = "categorical_crossentropy"
	}
	return ret;
}

if (window.addEventListener) {
	window.addEventListener('load', check);
} else if (window.attachEvent) {
    window.attachEvent('onload', check);
} else { 
    window.onload = check;
}

function import_model()
{
	post_to_url('import');
	check();
}


var trainSocket = new WebSocket(
    'ws://' + window.location.host +
    '/ws/train');

// Listen for connection errors
trainSocket.onerror = function (e) {      
    console.log("trainSocket Error "); 
}
	
trainSocket.onclose = function(e) {
    console.error('Train socket closed unexpectedly');
};

var logs_acc = []
var logs_loss = [] 
var logs_val_acc = []
var logs_val_loss = []
var epoch = 0

function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart.render();
}
	
CanvasJS.addColorSet("customColorSet",
 [//colorSet Array
 "#ffff4d",
 "#4661EE",
 "#00cc44",
 "#ff4d4d",
]); 
		
var chart = new CanvasJS.Chart("chartContainer",
{
	animationEnabled: false,
	title:{
		text: "Training History"
	},
	colorSet: "customColorSet",
	axisX: {
		title: "Epoch",
		valueFormatString: "#"
	},
	axisY: {
		valueFormatString: "#.#"
	},
	legend:{
		cursor: "pointer",
		fontSize: 16,
		itemclick: toggleDataSeries
	},
	toolTip:{
		shared: true
	},
	data: [
	{        
		name: "Acc",
		type: "spline",
		yValueFormatString: "#.#",
		showInLegend: true,
		dataPoints: logs_acc
	},
	{        
		name: "Loss",
		type: "spline",
		yValueFormatString: "#.#",
		showInLegend: true,
		dataPoints: logs_loss
	},
	{        
		name: "Val_Acc",
		type: "spline",
		yValueFormatString: "#.#",
		showInLegend: true,
		dataPoints: logs_val_acc
	},
	{        
		name: "Val_Loss",
		type: "spline",
		yValueFormatString: "#.#",
		showInLegend: true,
		dataPoints: logs_val_loss
	}
  ]
});
chart.render();

trainSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var log = data['log'];
	var output = data['output'];
	if (output)
	{
		document.querySelector('#train-log').value += output;
	}
	if (log)
	{
		epoch++;
		var logs_dict = JSON.parse(log);
		logs_acc.push({x: epoch, y: logs_dict["acc"]});
		logs_loss.push({x: epoch, y: logs_dict["loss"]});
		logs_val_acc.push({x: epoch, y: logs_dict["val_acc"]});
		logs_val_loss.push({x: epoch, y: logs_dict["val_loss"]});
		
		chart.render();
	
	}
};

var None = null
function train()
{
	if ({{ model_id }} && check() == 1)
	{
		trainSocket.send(JSON.stringify({
				'model_id': {{ model_id }},
				'model_type': document.getElementById("type").value,
				'optimizer': document.getElementById("optimizer").value,
				'batch_size': document.getElementById("batch_size").value,
				'epochs': document.getElementById("epochs").value,
				'v_split': document.getElementById("v_split").value,
				'e_stop': document.getElementById("e_stop").value,
				'patience': document.getElementById("patience").value,
			}));
	}
	else
	{
		window.alert("Import a Model before you start Training")
	}
}


var w = null;
function post_to_url(url) 
{
	if (w)
	{
		w.close();
	}
	w = window.open(url,'Popup_Window','toolbar=1,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=400,height=300,left = 312,top = 234');

	method = 'POST';

	var form = w.document.createElement('form');
	form.setAttribute('method', method);
	form.setAttribute('action', url);
	form.setAttribute('target', 'Popup_Window');
	
	var input = w.document.createElement('input');
	input.type = 'hidden';
	input.name = 'csrfmiddlewaretoken'
	input.value = "{{ csrf_token }}";
	
	form.appendChild(input);
	w.document.body.appendChild(form);
	form.submit();
}
</script>

{% endblock %}