body
{
	    background-color: #2e3842;
}

#content_div {
		height: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px 10px 10px 10px ;
}

#count_div {
		width : 100%;
		display: flex;
		justify-content: center;
}

#h_commands {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 10px 10px 10px ;
}

#h_actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 10px 10px 10px 10px ;
}

#v_actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
}

#pic_div {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: silver;
}

#pic_p {
		position: absolute;
		left: 45%;
		bottom: 0;
		z-index: 42;
		color: red;
	}

#gallery {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		
		background-color: white;

		padding: 5%;
		overflow: auto;
		border-style: solid;
		border-width: 2px;
		border-color: black;
}

@media only screen and (max-width: 768px) {
	body
	{
			background-color: #2e3842;
	}
	
	#content_div {
			height: 100%;
			display: flex;
			flex-direction: column;
			padding: 0px 0px 0px 0px ;
	}
	
	#h_commands {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 10px 10px 10px 10px ;
	}

	#v_actions {
			display: flex;
			flex-direction: row;
			justify-content: center;
	}

	#h_actions {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
	}

	#pic_div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
			background-color: silver;
	}

	#gallery {
			width:100%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			
			background-color: white;

			padding: 5%;
			overflow: auto;
			border-style: solid;
			border-width: 2px;
			border-color: black;
	}
	

}
